* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  scroll-behavior: smooth;
}

.main-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/a.jfif);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.menu {
  width: 100%;
  height: 10vh;
}

.menu ul {
  text-align: center;
  list-style-type: none;
  margin-top: 0px;
}

.menu ul li {
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
}

.menu ul li a {
  color: black;
  padding: 5px 20px;
  border: 1px;
  background-color: rgba(235, 231, 231, 0.2);
  text-decoration: none;
}

.menu ul li a:hover {
  background-color: rgba(31, 55, 82, 0.37);
  transition: 0.5s;
}

.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-family: "Montagu Slab", serif;
  font-size: 70px;
  margin: 10px, 0, 0;
  color: rgb(44, 74, 109);
  text-align: center;
}

.text-box h1:hover {
  color: rgb(214, 208, 203);
  transition: 0.5s;
}

.text-box h2 {
  text-align: center;
  position: absolute;
  top: 1%;
  left: 25%;
  color: rgba(235, 232, 230, 0.9);
}

.text-box h3 {
  text-align: center;
  color: rgba(235, 232, 230, 0.8);
}

.arrow img {
  width: 50px;
  height: 50px;
  margin: 40px 500px;
  display: flex;
}

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 685px) {
  .text-box {
    font-size: 25px;
  }
  ul li {
    display: block;
  }
  .arrow img {
    margin: auto;
  }
  .text-box h1 {
    font-size: 60px;
  }
  .text-box h2 {
    font-size: 20px;
    top: 0;
  }
  .text-box h3 {
    font-size: 25px;
  }
  menu ul {
    width: auto;
  }
}

/*----------intro---------------*/

.intro {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: rgba(39, 43, 63, 0.849);
}

.intro h2 {
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: 600;
  color: rgb(217, 194, 228);
}

.intro p {
  color: rgb(228, 224, 224);
}

.intro img {
  height: 30%;
  width: 40%;
  object-fit: contain;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(39, 43, 63, 0.849);
  padding-bottom: 25px;
}

.gallery-col {
  float: left;
  width: 18%;
  margin-left: 25px;
  padding-left: 32px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.gallery-row img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.layer {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 32px;
  transition: 0.5s;
  border-radius: 10px;
}

.layer:hover {
  background: rgba(0, 0, 0, 0.4);
}

.layer h3 {
  color: rgb(228, 224, 224);
  text-align: center;
}

@media (max-width: 785px) {
  .intro img {
    width: auto;
    object-fit: cover;
  }
  .gallery-col {
    flex: 30%;
    margin-left: 0;
  }
}

/*-----------sub header--------*/

.sub-header {
  height: 50%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/banner.jfif);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.sub-header h1 {
  margin-top: 100px;
  font-size: 70px;
  color: rgb(238, 172, 164);
  transition: 0.5s;
}

.sub-header h1:hover {
  color: rgb(25, 41, 59);
}

/*-------about------*/
.abt {
  width: 100%;
  margin: auto;
  background-color: rgba(39, 43, 63, 0.849);
}

.profile {
  float: left;
  width: 35%;
  margin: 30px 0px;
  align-items: center;
}

.profile img {
  width: 280px;
  height: 200px;
  margin: 8px 8px 8px 100px;
  display: flex;
  justify-items: center;
  object-fit: cover;
}

.profile-text {
  margin: 8px 8px;
}

.profile-text h1 {
  text-align: center;
  color: rgb(189, 164, 132);
  font-weight: 800;
}

.profile-text .title {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  color: rgb(25, 41, 59);
}

.profile-text p {
  color: rgb(228, 224, 224);
  font-size: 14px;
  margin: 10px 8px;
  text-align: center;
}

.profile-text a {
  display: inline-block;
  color: salmon;
  padding: 8px;
  width: 10%;
}

.profile-text .btn {
  color: rgb(25, 41, 59);
  font-weight: 600;
  width: 90%;
  background-color: rgb(238, 238, 216);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.abt-col {
  margin: 10px 10px 5px 20px;
  width: 75%;
  color: rgb(228, 224, 224);
}

.abt-col h3 {
  font-weight: 700;
  text-align: center;
  color: rgb(15, 32, 46);
}

.abt-col ul li {
  list-style-type: circle;
}

@media (max-width: 685px) {
  .profile {
    width: 100%;
  }
  .profile img {
    margin: 8px 8px 8px 50px;
  }
  .abt-col {
    flex-direction: row;
    margin-left: 50px;
    width: 90%;
  }
}

/* -------- background -------- */

.bg {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 50px 0px;
  background-color: rgba(39, 43, 63, 0.849);
}

.bg h1:hover {
  color: rgb(235, 232, 230);
  transition: 0.5s;
}

.bg-top {
  margin: 20px 50px;
}

.bg-top p {
  color: rgb(235, 232, 230);
}

.row {
  width: 80%;
  margin-left: 0;
  justify-content: center;
}

.bg-col {
  flex-basis: 42%;
  background: rgb(238, 238, 216);
  border-radius: 5px;
  margin: 5px 0px 5px 40px;
  text-align: left;
  padding: 15px;
  transition: 0.5s;
  font-size: 14px;
}

.bg-col:hover {
  background: rgb(238, 238, 232);
}

.bg-col h2 {
  text-align: center;
  color: #515697;
  padding-bottom: 5px;
}

.bg-col p {
  padding: 5px 0 5px 0;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .sub-header h1 {
    font-size: 60;
  }
}

/*----------project------*/

.project {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: rgba(39, 43, 63, 0.849);
}

.project h1:hover {
  color: rgb(235, 232, 230);
  transition: 0.5s;
}

.proj-row {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
  border: solid rosybrown;
  background-color: white;
  justify-content: right;
  margin: auto;
}

.proj-col {
  flex: 25%;
  position: relative;
  max-width: 25%;
  padding: 5px 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.proj-col img {
  margin-top: 8px;
  margin-bottom: 0px;
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}

.proj-layer p {
  color: black;
  font-size: 12px;
  margin-top: 0;
  padding-top: 0;
  flex-wrap: wrap;
}

.proj-layer p:hover {
  background-color: rgb(192, 184, 184);
  transition: 0.5s;
  color: rgb(27, 27, 58);
}

@media (max-width: 600px) {
  proj-row {
    width: auto;
  }
}

/*
.proj-layer {
  position: absolute;
  bottom: 8px;
  left: 130px;
  font-size: 11;
  text-align: center;
}

.proj-layer {
  margin-top: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.proj-col:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.proj-layer a {
  color: rgba(255, 255, 255, 0.815);
  text-align: center;
  font-size: 12;
  text-decoration: none;
}

*/

/*----contact----------*/
.contact {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.comment-box {
  width: 80%;
  border: 1px solid rgb(163, 160, 160);
  margin: 50px 100px;
  padding: 10px 30px;
  text-align: left;
  background-color: rosybrown;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.btn {
  font-family: "Noto Serif", serif;
  font-weight: 500;
  background-color: #515697;
  color: rgb(235, 232, 230);
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  transition: 0.5s;
}

.btn:hover {
  color: rgb(27, 27, 58);
  background-color: rgb(154, 154, 197);
}

.btn a {
  color: rgb(235, 232, 230);
}

.email-link {
  color: rosybrown;
  text-decoration: none;
}

@media (max-width: 600px) {
  .comment-box {
    width: auto;
    margin: 10px 0 0 0;
  }
}

/*------ footer-------*/

.footer {
  margin-top: 0px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/footer.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px;
  text-align: center;
  padding: 30px 0;
  font-size: 13px;
  bottom: auto;
}

.footer h4 {
  color: rgb(235, 232, 230);
  font-size: 16;
}

.footer h4:hover {
  color: rgb(154, 154, 197);
  transition: 0.5s;
}

.footer p {
  color: rgb(238, 172, 164);
  font-weight: 600;
  padding-top: 5px;
}
